h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Hubballi", cursive;
  color: cadetblue;
  font-weight: 400;
}
li {
  list-style: none;
  font-family: "Hubballi", cursive;
  color: cadetblue;
  font-weight: 500;
  font-size: 1.4em;
}

li:before {
  content: '✓';
  color: #0D6EFD;
  font-weight: 500;
}

.card-img {
  height: 350px;
  width: 200px;
}

.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: crimson !important;
  font-size: 2em !important;
}
#alert{
  display: none;
}