h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Hubballi", cursive;
  color: cadetblue;
  font-weight: 400;
}
li {
  list-style: none;
  font-family: "Hubballi", cursive;
  color: cadetblue;
  font-weight: 500;
  font-size: 1.4em;
}

li:before {
  content: '✓';
  color: #0D6EFD;
  font-weight: 500;
}

.card-img {
  height: 350px;
  width: 200px;
}

.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: teal !important;
  font-size: 2em !important;
  font-weight: 700;
}
#alert{
  display: none;
}

#spinner{
  display: none;
}

#card{
  overflow: hidden;
}

#card:hover .card-img{
  transform: scale(1.1);
  transition: all .2s ease-in-out; 
}
.header-bg-500{
  background-color: darkgrey;
}
.header-bg-400{
  background-color: rgb(104, 103, 103);
}
